.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(80deg, #262626 50%, #1F1F1F 50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  border: 1px solid #333;
}